<ed-page>
  <ed-page-title>
    Edit person
    <button class="btn btn-primary" (click)="save()">Save</button>
  </ed-page-title>
  <ed-page-content>

    <h4>
      Hello {{person.getProperty("PerTitle").getValue()}} {{person.getProperty("PerFstName").getValue()}} {{person.getProperty("PerName").getValue()}} !!!!<br/>

    </h4>

    <ed-column-container>
      <ed-container-item>
        <ed-form-text-input [resource]="person.getProperty('PerTitle')"></ed-form-text-input>
      </ed-container-item>
      <ed-container-item>
        <ed-form-text-input [resource]="person.getProperty('PerFstName')"></ed-form-text-input>
      </ed-container-item>
      <ed-container-item>
        <ed-form-text-input [resource]="person.getProperty('PerName')"></ed-form-text-input>
      </ed-container-item>
    </ed-column-container>

    <h4>
      Your best friend is
        {{person.getResource('PerBestFriend').getProperty("PerTitle").getValue()}}
        {{person.getResource('PerBestFriend').getProperty("PerFstName").getValue()}}
        {{person.getResource('PerBestFriend').getProperty("PerName").getValue()}} !!!!<br/>
    </h4>

    <ed-column-container>
      <ed-container-item>
        <ed-form-text-input [resource]="person.getResource('PerBestFriend').getProperty('PerTitle')"></ed-form-text-input>
      </ed-container-item>
      <ed-container-item>
        <ed-form-text-input [resource]="person.getResource('PerBestFriend').getProperty('PerFstName')"></ed-form-text-input>
      </ed-container-item>
      <ed-container-item>
        <ed-form-text-input [resource]="person.getResource('PerBestFriend').getProperty('PerName')"></ed-form-text-input>
      </ed-container-item>
    </ed-column-container>

    <h4>
      But you have also some others friends!!!
    </h4>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>
          </th>
          <th>
            Title
          </th>
          <th>
            First name
          </th>
          <th>
            Name
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let onePerson of person.getCollectionResource('PerOthersFriends').getResources()">
          <td>
            {{onePerson.getProperty("PerTitle").getValue()}}
            {{onePerson.getProperty("PerFstName").getValue()}}
            {{onePerson.getProperty("PerName").getValue()}}
          </td>
          <td>
            <ed-form-text-input [resource]="onePerson.getProperty('PerTitle')" [label]="false"></ed-form-text-input>
          </td>
          <td>
            <ed-form-text-input [resource]="onePerson.getProperty('PerFstName')" [label]="false"></ed-form-text-input>
          </td>
          <td>
            <ed-form-text-input [resource]="onePerson.getProperty('PerName')" [label]="false"></ed-form-text-input>
          </td>
        </tr>
      </tbody>
    </table>
    <pre>{{ person.toNonCircularObjectForJSON() | json}}</pre>

  </ed-page-content>
</ed-page>
